/* Sidebar */
.filament-sidebar {
    background-color: #1c3faa; /* Warna sidebar */
    color: white;
}

/* Navbar */
.filament-topbar {
    background-color: #0a1931;
    color: white;
    padding: 10px;
}

/* Card Dashboard */
.filament-stats-card {
    background: #f5f7fa;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.filament-stats-card:hover {
    transform: scale(1.05);
}
